.Input {
  &-container {
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white);
    display: flex;

    & > img {
      margin: auto 10px;
    }
  }

  &-field {
    &:focus-visible {
      outline: none;
    }

    border: none;
    //height: 32px;
    padding: 10px;

  }

}
