.PrismicArticles {
  padding: 1.45rem 13.0875rem;
  line-height: 26px;

  &-heroImg {
    width: 100%;
  }

  & li {
    padding: 20px;
    color: #4f4f4f;
  }

  & p {
    color: #4f4f4f;
  }

  @media screen and (max-width: 600px) {
    padding: 0.45rem 2.0875rem;
  }
}
