.GlobalExcellence {
  padding: 3.45rem 2.0875rem;
  justify-content: center;

  & > div {
    display: flex;
    justify-content: space-around;
    margin: 0.7rem 3rem 0.7rem 10px;
    flex-wrap: wrap;
    background-image: url("../../assets/img/worldMap.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &-imgContainer {
    flex: 1.5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > img {
      width: 95%;
      min-width: 300px;
    }
  }


  &-contentContainer {
    flex: 1;

    & > div {
      margin: 0.7rem 4rem;
      min-width: 300px;

      & h2 {
        margin-top: 11px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    padding: 1.45rem 0.0875rem;
  }
}
