.VideoCard {
  padding: 0.45rem;
  justify-content: center;
  background-color: #FDF4EA;

  &-wrapper {
    display: flex;
    justify-content: center;

    flex-direction: column;
  }

  &-videoContainer {
    //height: 200px;
    //background-color: red;
  }

  p {
    margin-top:  0;
  }


}

