@font-face {
    font-family: 'Reenie Beanie';
    src: url('../assets/fonts/ReenieBeanie-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Gambetta';
    src: url('../assets/fonts/Gambetta/Gambetta-Variable.ttf') format('truetype');
}
/*@font-face {*/
/*    font-family: "GoldmanBold";*/
/*    src: local("GoldmanBold"),*/
/*    url("./fonts/Goldman/Goldman-Bold.ttf") format("truetype");*/
/*    font-weight: bold;*/
/*}*/
