.What {
  padding: 2.45rem 1.0875rem;
  justify-content: center;
  background-color: var(--pink-light);
  text-align: center;
  position: relative;

  &-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7rem 3rem;

  }

  /* Slideshow */
  &-slideshow {
    position: relative;
    display: flex;
    width: 70%;

  }

  &-upper {
    position: absolute;
    left: 130px;
    height: 60px;
  }

  &-down {
    position: absolute;
    right: 130px;
    bottom: 50px;
    height: 60px;
  }

  &-sliderContainer {
    text-align: center;

    & h2 {
      //margin-top: 0;
    }
  }

  &-userContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: left;
    align-items: center;
    margin: 15px;

    & > img {
      width: 64px;
      border-radius: 50%;
      overflow: hidden;
    }

    & > div > p {
      font-weight: 600;
      margin: 0;
    }
  }

  &-des {
    font-family: 'Lexend', system-ui;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

  }
  @media screen and (max-width: 600px) {
    padding: 1.45rem 0.0875rem;
  }
  @media screen and (max-width: 850px) {
    &-slideshow {
      width: 100%;
    }
    &-upper {
      display: none;
    }
    &-down {
      display: none;
    }
    &-wrapper {
      margin: 0;
    }
    & h2 {
      font-size: 25px;
    }
    & p {
      font-size: 15px;
    }
  }
}

