.TeamCard {
  padding: 24px;
  background-color: var(--white);
  height: 100%;
  & >div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    & >img{

      width: 100%;
    }
  }
&  h4,p{
  margin: 8px auto;
}

}
