.Measure {
  padding: 3.45rem 2.0875rem;
  justify-content: center;

  & > div {
    display: flex;
    justify-content: space-around;
    margin: 0.7rem 3rem 0.7rem 10px;
    flex-wrap: wrap;
  }

  &-imgContainer {
    flex: 1;

    & > img {
      width: 100%;
      min-width: 378px;
    }
  }

  &-contentContainer {
    flex: 1;
    display: flex;
    align-items: center;
    & > div {
      margin: 0.7rem 4rem;

      & h2, h1 {
        margin-top: 11px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    padding: 2.45rem 1.0875rem;
  }
}
