
.Navbar {

  padding: 0.45rem 6.0875rem;

  &-toggle {
    display: none;
  }

  & a {
    text-decoration: none;
    list-style: none;
    color: var(--black);
  }

  &-wrapper {

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.7rem auto;
      position: relative;
    }
  }

  &-logoContainer {

  }


  &-menuContainer {
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 1 !important;
    }

    & > ul {
      position: absolute;
      flex-direction: column;
      list-style: none;
      background-color: var(--pink-light);
      margin: 0;
      padding: 0;
      align-items: center;
      width: 100%;
      align-content: center;
      left: 0;
      z-index: 10;
      & > li {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding: 0.7rem;


        &:hover {
          opacity: 0.7;
        }


      }
    }
  }

  &-navWrapper {


    & > nav {
      position: relative;

      & > ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0 15px;
        align-items: center;


        & > li {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          padding: 0.7rem;


          &:hover {
            opacity: 0.7;
          }


        }
      }
    }
  }

  &-button {
    padding: 11px 32px;
    border-radius: 100px;
    background: var(--black);
    color: var(--white);
  }

  & hr {
    opacity: 0.25;
    border: 1px solid var(--black);
  }

  &-subCollapsed {
    display: none;
  }

  &-subExpanded {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    padding: 0.45rem 2.0875rem;
  }
  @media screen and (max-width: 1000px) {
    &-menuContainer > ul {
      position: relative;
    }
    &-toggle {
      display: flex;
    }
    &-wrapper {
      width: 100%;
    }
    &-navWrapper {
      position: absolute;
      display: none;

      top: 60px;
      width: 100%;
      background-color: var(--pink-light);
      justify-content: center;

      &.expanded {
        display: flex;
      }

      & > nav {
        & > ul {
          flex-direction: column;
        }
      }
    }
  }
}

