.YouAreCoach {
  padding: 5.45rem 4.0875rem;
  justify-content: center;
  background-color: var(--pink-light);

  & > div {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    flex-wrap: wrap;

    gap: 30px;

  }

  &-leftContainer {
    flex: 1;

    & > div {
      margin: 20px;
    }
  }

  &-rightContainer {
    flex: 1;

  }

  &-button {
    padding: 11px 32px;
    border-radius: 100px;
    background: var(--black);
    color: var(--white);
    margin-top: 30px;

    &:hover {
      opacity: 0.7;
    }
  }

  @media(max-width: 638px) {
    & > div {
      text-align: center;
      margin: 0;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 3.45rem 2.0875rem;
  }
}
