.YouAreCoach {
  padding: 5.45rem 6.0875rem;
  justify-content: center;
  background-color: var(--pink-light);

  & > div {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    gap: 30px;

  }

  &-leftContainer {
    flex: 1;
    min-width: 300px;
    & > div {
      margin: 20px;
    }
  }

  &-rightContainer {
    flex: 1;
    min-width: 300px;
  }

  &-button {
    padding: 11px 32px;
    border-radius: 100px;
    background: var(--black);
    color: var(--white);
    margin-top: 30px;

    &:hover {
      color: var(--black);
      background: var(--white);
    }
  }

  @media(max-width: 638px) {
    & > div {
      text-align: center;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 3.45rem 2.0875rem;
  }
}
