.Why {
  padding: 2.45rem;
  justify-content: center;
  background-color: var(--pink-light);

  & h2 {
  margin-top: 0;
  }

  & > div {

  }

  &-headerContainer {
    text-align: center;
  }

  &-cardContainer {
    display: flex;
    flex-wrap: wrap;
    --gapvar: 10px;

    gap: var(--gapvar);

    & > div {
      min-width: 200px;
      flex: calc(25% - var(--gapvar));
    }
  }
}
