.Why {
  justify-content: center;



  & > div {

  }

  &-headerContainer {
    text-align: center;
  }

  &-cardContainer {
    display: flex;
    flex-wrap: wrap;
    --gapvar: 24px;
    justify-content: center;
    gap: var(--gapvar);

    & > div {
      min-width: 200px;
      flex: calc(25% - var(--gapvar));

      flex-grow: initial;


    }
  }
  @media screen and (max-width: 650px) {
    padding: 2.45rem 2.0875rem;
  }

}
