.MeetCoaches {


  &-imgContainer {

    display: flex;
    justify-content: center;
    align-items: flex-end;

    flex-wrap: wrap;

    & :nth-child(1), & :nth-child(5) {
      & > img {
        height: 150px;
      }
    }

    & :nth-child(2), & :nth-child(4) {
      & > img {
        height: 170px;
      }
    }

    & :nth-child(3) {
      & > img {
        height: 200px;
      }
    }

    & h4 {
      margin: 5px;
    }
  }


  @media(max-width: 1260px) {
    &-imgContainer :nth-child(3) {
      order: 2;
    }
  }
  @media(max-width: 1010px) {
    &-imgContainer > div {
      & > img {
        height: 170px !important;
      }
    }
  }

}

