.CoachFeatures {
  padding: 4.45rem;
  justify-content: center;
  background-color: var(--warm-white);

  & > div {
    --gapvar: 20px;
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapvar);

    & > div {
      flex: calc(50% - var(--gapvar));
    }
  }
  &-button {
    padding: 11px 32px;
    border: 1px solid var(--black);
    border-radius: 100px;
    margin-top: 20px;
    &:hover {
      opacity: 0.8;
    }
  }

}
