.OurCoaches {
  padding: 2.45rem 6.0875rem;
  justify-content: center;
  background-color: var(--warm-white);
  text-align: center;

  flex-direction: column;

  &-wrapper {
    background-image: url("../../assets/img/worldMap.svg");
    display: flex;
    justify-content: center;
    //margin: 0.7rem 3rem;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;

  }

  &-headerContainer {
    text-align: center;
  }

  & p {
    margin-bottom: 2px;
  }

  & h2 {
    margin-top: 5px;
  }

  &-imgContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    flex-wrap: wrap;
  }

  &-logoContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 5px;
    flex-wrap: wrap;

    & > img {
      height: 90px;
    }
  }

  @media(max-width: 1130px) {
    &-imgContainer :nth-child(2) {

      order: 2;
    }
  }
  @media screen and (max-width: 650px) {
    padding: 2.45rem 2.0875rem;
  }
}

